<a href="https://colab.research.google.com/github/vivsarraf/Project-4/blob/Ajunjee/Project_4_Price_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
from pathlib import Path
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential, Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [237]:

# Store filepath in a variable
file_one = Path("Resources/cleaned-sales-data-with-dummies-and-no-outliers-June11.csv")
sales_data_df =  pd.read_csv(file_one, encoding="ISO-8859-1")
sales_data_df.head()

,Unnamed: 0,FinishedSqft,Lotsize,Bdrms,Baths_total,Sale_year,Sale_month,Sale_price,Style_AP 1,Style_Bi-Level,...,Extwall_Fiber-Cement,Extwall_Frame,Extwall_Masonary Frame,Extwall_Masonry / Frame,Extwall_Masonry/Frame,Extwall_Metal Siding,Extwall_Prem Wood,Extwall_Stone,Extwall_Stucco,Extwall_Wood
0,207,504,5580,2,2,2013,8,92500,False,False,...,False,False,False,False,False,False,False,False,False,False
1,253,532,3600,2,1,2023,8,253000,False,False,...,False,False,False,False,False,False,False,False,False,False
2,322,550,8640,2,2,2018,5,190000,False,False,...,False,False,False,False,False,False,False,False,False,False
3,423,572,7425,2,1,2020,12,85000,False,False,...,False,False,False,False,False,False,False,False,False,False
4,457,581,3300,2,1,2023,8,175000,False,False,...,False,False,False,False,False,False,False,False,False,False

In [238]:
sales_data_df = sales_data_df.rename(columns={'Bdrms':'Bedrooms', 'Baths_total': 'Bathrooms'})
sales_data_df.head()

,Unnamed: 0,FinishedSqft,Lotsize,Bedrooms,Bathrooms,Sale_year,Sale_month,Sale_price,Style_AP 1,Style_Bi-Level,...,Extwall_Fiber-Cement,Extwall_Frame,Extwall_Masonary Frame,Extwall_Masonry / Frame,Extwall_Masonry/Frame,Extwall_Metal Siding,Extwall_Prem Wood,Extwall_Stone,Extwall_Stucco,Extwall_Wood
0,207,504,5580,2,2,2013,8,92500,False,False,...,False,False,False,False,False,False,False,False,False,False
1,253,532,3600,2,1,2023,8,253000,False,False,...,False,False,False,False,False,False,False,False,False,False
2,322,550,8640,2,2,2018,5,190000,False,False,...,False,False,False,False,False,False,False,False,False,False
3,423,572,7425,2,1,2020,12,85000,False,False,...,False,False,False,False,False,False,False,False,False,False
4,457,581,3300,2,1,2023,8,175000,False,False,...,False,False,False,False,False,False,False,False,False,False

In [239]:
sales_data_df.isnull().sum()

Unnamed: 0                          0
FinishedSqft                        0
Lotsize                             0
Bedrooms                            0
Bathrooms                           0
Sale_year                           0
Sale_month                          0
Sale_price                          0
Style_AP 1                          0
Style_Bi-Level                      0
Style_Cape Cod                      0
Style_Colonial                      0
Style_Contemporary                  0
Style_Cottage                       0
Style_Dplx Bungalow                 0
Style_Duplex N/S                    0
Style_Duplex O/S                    0
Style_Duplex-Cottage                0
Style_Milwaukee Bungalow            0
Style_Multiple Residential Bldgs    0
Style_Ranch                         0
Style_Res O/S 1 Story               0
Style_Res O/S 2sty +                0
Style_Res O/S A & 1/2               0
Style_Residence O/S                 0
Style_Residence O/S 2sty+           0
Style_Split Level                   0
Style_Townhouse                     0
Style_Triplex                       0
Style_Tudor                         0
Extwall_Alum/Vynyl Siding           0
Extwall_Aluminum / Vinyl            0
Extwall_Aluminum/Vinyl              0
Extwall_Asphalt/Other               0
Extwall_Block                       0
Extwall_Brick                       0
Extwall_Fiber Cement/Hardiplank     0
Extwall_Fiber-Cement                0
Extwall_Frame                       0
Extwall_Masonary Frame              0
Extwall_Masonry / Frame             0
Extwall_Masonry/Frame               0
Extwall_Metal Siding                0
Extwall_Prem Wood                   0
Extwall_Stone                       0
Extwall_Stucco                      0
Extwall_Wood                        0
dtype: int64

In [ ]:
sales_data_df['Sale_date'] = pd.to_datetime(sales_data_df['Sale_date'], infer_datetime_format=True, format='mixed')
sales_data_df.info()

In [236]:

y = sales_data_df.Sale_price.values
X = sales_data_df.drop(columns = ['Sale_price', 'Sale_date','Month'], axis=1)
X.head()

   Bedrooms  Bathrooms  FinishedSqft  Lotsize  Year
0         4          2          2200   128502  2021
1         2          2          1125   101059  2021
2         4          1          1471    95832  2022
3         4          3          2303    84071  2019
4         4          2          1247    81893  2023

In [156]:

sales_data_df.isnull().sum()

Bedrooms        0
Bathrooms       0
FinishedSqft    0
Lotsize         0
Sale_date       0
Year            0
Month           0
Sale_price      0
dtype: int64

In [199]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, train_size=0.7, random_state=0)

In [200]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [201]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.iloc[0])

# Review the number of features
number_input_features

5

In [202]:
# Define the number of neurons in the output layer
number_output_neurons = 1

# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 3

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer
hidden_nodes_layers = hidden_nodes_layer1 + hidden_nodes_layer2
hidden_nodes_layers

7

In [203]:
# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

c:\Users\sarra\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [204]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 3)              │            18 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 4)              │            16 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 39 (156.00 B)

 Trainable params: 39 (156.00 B)

 Non-trainable params: 0 (0.00 B)

In [205]:
# Compile the Sequential model
nn.compile(loss="mse", optimizer="adam", metrics=["mean_absolute_error'"])

In [ ]:
# 

#fit_model = nn.fit(X_train, y_train, epochs=100)

In [ ]:
# # Evaluate the model loss and accuracy metrics using the evaluate method and the TRAIN data
# model_loss, model_accuracy = nn.evaluate(X_train_scaled, y_train,verbose=0)

# # Display the model loss and accuracy results
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [206]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

print("By using Linear Regression we got:")
print("Training data accuracy",lr_model.score(X_train, y_train))
print("Testing data accuracy",lr_model.score(X_test, y_test))

By using Linear Regression we got:
Training data accuracy 0.18377784232552452
Testing data accuracy 0.2099985430112865

In [197]:
# Failed, could not converge
# from sklearn.linear_model import LogisticRegression
# log_model = LogisticRegression()
# log_model.fit(X_train_scaled, y_train)

# print("By using Logistic Regression we got:")
# print("Training data accuracy",log_model.score(X_train_scaled, y_train))
# print("Testing data accuracy",log_model.score(X_test_scaled, y_test))

In [207]:
from sklearn.ensemble import RandomForestRegressor
rfm=RandomForestRegressor()
rfm.fit(X_train,y_train)

print("By using Random Forest Regression we got:")
print("Training data accuracy",rfm.score(X_train,y_train))
print("Testing data accuracy",rfm.score(X_test,y_test))

By using Random Forest Regression we got:
Training data accuracy 0.884035635212428
Testing data accuracy 0.19215094545015754

In [208]:
rfm.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [209]:
rfm=RandomForestRegressor(max_depth=None,min_samples_leaf=5,min_samples_split=6,
                          n_estimators=150,verbose=2,n_jobs=-1)

In [210]:
rfm.fit(X_train,y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    0.0s

building tree 1 of 150building tree 2 of 150

building tree 3 of 150
building tree 4 of 150
building tree 5 of 150
building tree 6 of 150
building tree 7 of 150
building tree 8 of 150
building tree 9 of 150
building tree 10 of 150
building tree 11 of 150
building tree 12 of 150
building tree 13 of 150
building tree 14 of 150
building tree 15 of 150
building tree 16 of 150
building tree 17 of 150
building tree 18 of 150
building tree 19 of 150
building tree 20 of 150
building tree 21 of 150
building tree 22 of 150
building tree 23 of 150
building tree 24 of 150
building tree 25 of 150
building tree 26 of 150
building tree 27 of 150
building tree 28 of 150
building tree 29 of 150
building tree 30 of 150
building tree 31 of 150
building tree 32 of 150
building tree 33 of 150
building tree 34 of 150
building tree 35 of 150
building tree 36 of 150
building tree 37 of 150
building tree 38 of 150
building tree 39 of 150
building tree 40 of 150
building tree 41 of 150
building tree 42 of 150
building tree 43 of 150
building tree 44 of 150
building tree 45 of 150
building tree 46 of 150
building tree 47 of 150
building tree 48 of 150
building tree 49 of 150
building tree 50 of 150
building tree 51 of 150
building tree 52 of 150
building tree 53 of 150
building tree 54 of 150
building tree 55 of 150
building tree 56 of 150
building tree 57 of 150
building tree 58 of 150
building tree 59 of 150
building tree 60 of 150
building tree 61 of 150
building tree 62 of 150
building tree 63 of 150
building tree 64 of 150
building tree 65 of 150
building tree 66 of 150
building tree 67 of 150
building tree 68 of 150
building tree 69 of 150
building tree 70 of 150
building tree 71 of 150
building tree 72 of 150
building tree 73 of 150
building tree 74 of 150
building tree 75 of 150
building tree 76 of 150
building tree 77 of 150
building tree 78 of 150
building tree 79 of 150
building tree 80 of 150
building tree 81 of 150
building tree 82 of 150
building tree 83 of 150
building tree 84 of 150
building tree 85 of 150
building tree 86 of 150
building tree 87 of 150
building tree 88 of 150
building tree 89 of 150
building tree 90 of 150
building tree 91 of 150
building tree 92 of 150
building tree 93 of 150
building tree 94 of 150
building tree 95 of 150
building tree 96 of 150
building tree 97 of 150
building tree 98 of 150
building tree 99 of 150
building tree 100 of 150
building tree 101 of 150
building tree 102 of 150
building tree 103 of 150
building tree 104 of 150
building tree 105 of 150
building tree 106 of 150
building tree 107 of 150
building tree 108 of 150
building tree 109 of 150
building tree 110 of 150
building tree 111 of 150
building tree 112 of 150
building tree 113 of 150
building tree 114 of 150
building tree 115 of 150
building tree 116 of 150
building tree 117 of 150
building tree 118 of 150
building tree 119 of 150
building tree 120 of 150
building tree 121 of 150
building tree 122 of 150
building tree 123 of 150
building tree 124 of 150building tree 125 of 150

building tree 126 of 150
building tree 127 of 150
building tree 128 of 150
building tree 129 of 150
building tree 130 of 150
building tree 131 of 150
building tree 132 of 150
building tree 133 of 150
building tree 134 of 150
building tree 135 of 150
building tree 136 of 150
building tree 137 of 150
building tree 138 of 150
building tree 139 of 150
building tree 140 of 150
building tree 141 of 150
building tree 142 of 150
building tree 143 of 150
building tree 144 of 150
building tree 145 of 150
building tree 146 of 150
building tree 147 of 150
building tree 148 of 150
building tree 149 of 150
building tree 150 of 150

[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:    1.8s finished

RandomForestRegressor(min_samples_leaf=5, min_samples_split=6, n_estimators=150,
                      n_jobs=-1, verbose=2)

In [211]:
print("By using Tuned Random Forest Regression we got:")
print("Training data accuracy",rfm.score(X_train,y_train))
print("Testing data accuracy",rfm.score(X_test,y_test))

By using Tuned Random Forest Regression we got:
Training data accuracy 0.5649165344286148
Testing data accuracy 0.24079322784446033

[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 150 out of 150 | elapsed:    0.0s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 150 out of 150 | elapsed:    0.0s finished

In [212]:
y_pred = rfm.predict(X_test)

[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 150 out of 150 | elapsed:    0.0s finished

In [213]:
# Calculating R2 value or Coefficient of Determination
test_set_r2 = r2_score(y_test, y_pred)
print("Coefficient of Determination:",test_set_r2)

Coefficient of Determination: 0.24079322784446033

In [214]:
# Calculating MAE or Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:",mae)

Mean Absolute Error: 51085.0826640187

In [215]:
# Calculating RMSE or Root Mean Square Error
rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))
print("Root Mean Squared Error:",rmse)

Root Mean Squared Error: 65504.33090778013

In [217]:
# Comparing the MAE with Mean of the actual values (y_test)
print(f"The MAE is {(mae/np.mean(y_test))*100:.2f}% of Average of y_test ({np.mean(y_test):,.0f})")

The MAE is 31.49% of Average of y_test (162,243)

In [218]:
# Comparing the RMSE with Mean of the actual values (y_test)
print(f"The RMSE is {(rmse/np.mean(y_test))*100:.2f}% of Average of y_test ({np.mean(y_test):,.0f})")

The RMSE is 40.37% of Average of y_test (162,243)

In [221]:
sales_data_df.head()

,Bedrooms,Bathrooms,FinishedSqft,Lotsize,Sale_date,Year,Month,Sale_price
0,4,2,2200,128502,2021-11-23,2021,11,336000
1,2,2,1125,101059,2021-10-08,2021,10,250000
2,4,1,1471,95832,2022-08-12,2022,8,274900
3,4,3,2303,84071,2019-07-18,2019,7,237500
4,4,2,1247,81893,2023-06-01,2023,6,150000